@import 'bootstrap/dist/css/bootstrap.min.css';

html,body {
    margin: 0;
}

p, span , h1, h2,h3,h4,h5, input {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;

}

.AppContainer{
  // background: pink;
  height: 100vh;
}

input{
  width: 100%;
  color: #6F3326;
  font-weight: 600;
  font-size: 16px;
  font-family: Averta Std CY;
  line-height: 20px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #FFA70C;
  box-sizing: border-box;
  border-radius: 13px;
  -webkit-transition: all .3s;
  transition: all .3s;
  // padding-left: 3%;
  text-align: center;
  height: 54px;
  &:focus{
    border : 1px solid #40a9ff;
    box-shadow: 0 0 0 2px rgba(24,144,25,0.2);
    outline-offset: 0px !important;
    outline: none !important;
  }
  &::placeholder{
    opacity: 0.6;
  }
}

.OptionContainer{
  width: 90%;
  margin: auto;
  height: 53%;
  overflow-y: auto;
}
.ButtonAddContainer{
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #FFA70C;
  box-sizing: border-box;
  border-radius: 13px;
  height: 54px;
  position: relative;

}
.ButtonComponent{
  width: 40%;
  min-width: 125px;
  background-color: #40a9ff;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-top: 10px;
  cursor: pointer;
}
.RandomContainer{
  border: 2px solid red !important;
}
.HomeContainer{
  display: flex;
  flex-direction: column;
  // height: 100%;
  text-align: center;
  justify-content: end;
  padding-top: 12%;
  .Title{
    font-family: Averta Std CY;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    color: #6F3326;
    margin-top: 5px;
  }
  .Decription{
    font-family: Averta Std CY;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #6F3326;
  }
}
.ButtonContainer{
  text-align: center;
  font-family: Averta Std CY;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #FFA70C;
  border-radius: 13px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
.ButtonDisableContainer{
  background-color: #ADADAD !important;
}
.ButtonAddDisableContainer{
  border: 1px solid #E9E9E9;
}

.ProgressContainer{
  margin-top: 32px;
  position: relative;
  height: 5px;
  text-align: center;
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.42);
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  .ColorContainer{
    position: absolute;
    background-color: #ffffff;
    width: 0px;
    height: 5px;
    border-radius: 20px;
    animation: progres 2s infinite linear;    
  }
}
@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
};


.demo-test{
  // background-image: url('./images/sea-background.png');
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // opacity: 50%;
}
// img {
//   -webkit-user-drag: none;
//   -khtml-user-drag: none;
//   -moz-user-drag: none;
//   -o-user-drag: none;
//    user-drag: none;
// }